<html>
   <head>
          <meta charset=”"utf-8">
          <title>Hello!</title>
   </head>
   <body>
      
      <form name = "form" action = "{% url "input" %}" 
         method = "POST" >{% csrf_token %}
         
         <div style = "max-width:470px;">
             <input type = "text"
               placeholder = "Mata Pelajaran" name = "subject" />
         </div>
			
         
         <div style = "max-width:470px;">
            <button style = "border:0px; background-color:#4285F4; margin-top:2%;
               height:35px; width:40%" type = "submit" 
               value = "Input" >
               <strong>Input</strong>
            </button>
         </div>

      </form>
         
         <div>
               Mata Pelajaran : <strong>{{subject}}</strong>
               <br>Jurusan Rekomendasi : <strong>{{recommendation}}</strong></br>
         </div>

   </body>
</html>